@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

%ext-1 {
    color: red;
}

.card{
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    font-family: "Quicksand", sans-serif;
    width: 350px;
    height: 180px;
    // background: url(../img/card2.png);
    color: white;
    border-radius: 10px;
    margin: auto;

    &__insedtext{
        padding: 10px;
        line-height: 0;
        background: linear-gradient(to bottom, #bbb8b800, #000000be);
        border-radius: 10px;
    
    }

    &__mainp1{
        // font-size: 17px;
        // font-weight: bold;
        font: $body-base-bold;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
       
    }    

    &__type{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include flex-box( $align:center ,$justify: center);
        font-size: 12px;
    }

    &__svg {
        margin-right: 10px;
        width: 15px;
        height: 15px;
        
    }

    &__money{
        font-size: 14px;
    }

    &__money_p span{
        font-weight: bold;
    }

}