.barbody{
    width:341px;
    height:43px;
    border:1px solid rgb(238, 224, 224); 
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    
    
    &__text{
        margin-bottom:12px ;
        
    }
    &__bar{
        width:335px;
        height:12px;
        background-color: rgb(184, 188, 187);
        margin-left:0px;
        border-radius: 30px;
        &__in{
            background-color:$Secondary-dark;
            border-radius: 30px;
            height:12px;
            width:100px;
        }
    }









}