@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.login__container {
  background: white;
  border-radius: 4px;
  width: 100%;
  max-width: 360px;
  box-shadow: 1px 0px 12px 2px #ddd;
  overflow: hidden;
}
.login__image {
  background: #888;
  height: 200px;
  width: 100%;
}

.tr-button {
  background-color: #976519;
  border-radius: 10px;
  padding: 10px 15px;
  outline: none;
  border: none;
}
.tr-button--secondary {
  background-color: white;
  border: 1px solid #976519;
}
.tr-button--secondary .tr-button__text {
  color: #976519;
}
.tr-button__text {
  color: white;
}

.petSelectCard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  background-color: white;
  padding: 0px 20px 0px 20px;
  margin: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.petSelectCard__header {
  font-size: 24px;
  font-weight: bold;
  line-height: 0.1;
}
.petSelectCard__paraBreed {
  font-size: 16px;
  font-weight: bold;
}
.petSelectCard__para {
  font-size: 12px;
  padding-right: 10px;
}
.petSelectCard__image {
  width: 75px;
  height: 80px;
  border-radius: 10px;
}

.barbody {
  width: 341px;
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.barbody__text {
  margin-bottom: 12px;
}
.barbody__bar {
  width: 335px;
  height: 12px;
  background-color: rgb(184, 188, 187);
  margin-left: 0px;
  border-radius: 30px;
}
.barbody__bar__in {
  background-color: green;
  border-radius: 30px;
  height: 12px;
  width: 100px;
}

.petprofile {
  width: 373px;
  height: 116px;
}
.petprofile__data {
  width: 348px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  font-size: 14px;
}
.petprofile__data__d1 {
  width: 108px;
  height: auto;
}
.petprofile__data__d1 .da-in {
  border-left: 4px solid green;
  font-size: 12;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 105px;
  height: 22px;
}
.petprofile__text {
  width: 313px;
  height: 46;
  margin-left: 17px;
  margin-top: 10px;
  font-family: roboto;
  font-size: 12px;
}
.petprofile__text__span {
  color: 0;
  font-size: 14px;
}

.head-container {
  width: 375px;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  gap: 186px;
}
.head-container__image img {
  width: 375px;
  height: 466px;
}
.head-container__sub1 {
  width: 375px;
  background: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  gap: 186px;
  display: inline-flex;
}
.head-container__sub1__name {
  margin-left: 2px;
  width: 74px;
  height: 39px;
  color: #1D1D1B;
  font-size: 37px;
  font-family: Quicksand;
  font-weight: 600;
  word-wrap: break-word;
}
.head-container__sub1__show {
  height: 23px;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 14px;
  display: flex;
}
.head-container__sub1__show__logo {
  width: 25px;
  height: 20px;
}
.head-container__sub1__show__text {
  height: 21px;
  color: black;
  font-size: 17px;
  font-family: Quicksand;
  font-weight: 600;
  word-wrap: break-word;
}
.head-container__sub2 {
  margin-top: 5px;
  margin-left: 15px;
  height: 22px;
  padding-right: 88px;
  justify-content: start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}
.head-container__sub2__logolocation {
  width: 14px;
  height: 20px;
}
.head-container__sub2__address {
  width: 232px;
  height: 22px;
  text-align: center;
  color: #ADADAD;
  font-size: 14px;
  font-family: Quicksand;
  font-weight: 500;
  word-wrap: break-word;
}

* {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

.search {
  width: 100%;
  height: 39px;
  margin: auto;
  padding-bottom: 17px;
}
.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18.39x;
  height: 18.21px;
  padding-left: 21px;
}
.search__input {
  background-color: #F2F3F2;
  width: 100%;
  height: 39px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #7C7C7C;
  border-radius: 15px;
}

.mainCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  font-family: "Quicksand", sans-serif;
  width: 350px;
  height: 180px;
  color: white;
  border-radius: 10px;
  margin: auto;
}
.card__insedtext {
  padding: 10px;
  line-height: 0;
  background: linear-gradient(to bottom, rgba(187, 184, 184, 0), rgba(0, 0, 0, 0.7450980392));
  border-radius: 10px;
}
.card__mainp1 {
  font: bold 0.75rem/1 sans-serif;
}
.card__bottom {
  display: flex;
  justify-content: space-between;
}
.card__type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 12px;
}
.card__svg {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.card__money {
  font-size: 14px;
}
.card__money_p span {
  font-weight: bold;
}

.home-slide-bar {
  display: flex;
  padding: 10px;
}
.home-slide-bar__circle {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: gray;
  margin-right: 5px;
}
.home-slide-bar__circle--secondary {
  background-color: green;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.trandingCard__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: normal 1.5rem/"Quicksand", sans-serif;
  line-height: 0.5;
}
.trandingCard__text p {
  color: #147A51;
}
.trandingCard__cards {
  display: flex;
  align-items: center;
  overflow: auto;
}

.home__trending__shop {
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}
.home__trending__shop__i {
  display: flex;
  width: 173.32px;
  height: 178px;
  margin-bottom: 2px;
}
.home__trending__shop__text {
  display: flex;
  margin-top: 2px;
  align-items: left;
  justify-content: left;
  font-weight: bold;
  font-size: 16px;
  padding-left: 1.5px;
}
.home__trending__shop__text2 {
  display: felx;
  align-items: left;
  justify-content: left;
  padding-left: 1.5px;
  padding-top: 12px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #976519;
}

.petCard__hedingText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.petCard__hedingText h1 {
  display: flex;
  justify-content: flex-start;
  font-size: normal 1.5rem/"Quicksand", sans-serif;
}
.petCard__hedingText p {
  padding-top: 10px;
  color: #147A51;
}
.petCard__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

.dogcard {
  width: 173px;
  height: 76px;
  margin-right: 10px;
  background-color: #FFE8CF;
  border-radius: 18px;
}
.dogcard__custom-image {
  width: 76px;
  height: 76px;
  margin-right: 15px;
  margin-left: 13px;
}
.dogcard__col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dogcard__dog-toys {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  margin-right: 20px;
}

.navigation {
  position: fixed;
  top: 93vh;
  width: 100%;
  background-color: white;
  padding-top: 10px;
}
.navigation__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.navigation__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.1;
}
.navigation__menu img {
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=styles.css.map */
