.petSelectCard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    background-color: white;
    padding: 0px 20px 0px 20px;
    margin: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    
  &__header{
    font-size: 24px;
    font-weight: bold;
    line-height: 0.1;
  }

  &__paraBreed{
    font-size: 16px;
    font-weight: bold;
    
  }
  &__para{
    font-size: 12px;
    padding-right: 10px;
  }

  &__image{
    width: 75px;
    height: 80px;
    border-radius: 10px;
  }
}