$primary-color: #976519;
$primaryLight-color: #E7B76E;
$secondery-color: #147A51;
$primaryLight-color: #6EE7B7;
$light-text: white;
$dark-text: black;
$active-color: #ff0000;
$input-box-color: #d1d1d1;
$input-placeholder-color: #454b60;
$nav-text: #8c8c8c;
$dog-card:  #FFE8CF;
