// $h1: 24px;
// $h2: 17px;
// $h3: 16px;
// $h4: 14px;
// $b: 12px;

$heding1-text: normal 1.5rem/ 'Quicksand', sans-serif;
$heding2-text: normal 1.063rem/ 'Quicksand', sans-serif;
$heding3-text: normal 0.875rem/ 'Quicksand', sans-serif;
$body-base-default: normal 0.75rem/1 sans-serif;
$body-base-bold: bold 0.75rem/1 sans-serif;